@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-zen-200;
  }
  
  .dark * {
    @apply border-zen-800;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth transitions */
html {
  scroll-behavior: smooth;
}
